
* {
    box-sizing: border-box;
    font-size: 16px;
    background-color: #FFE5E2;

}

/*FONT FAMILIIES: 

font-family: 'Amiri', serif;
font-family: 'Barlow', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Libre Baskerville', serif;
*/

:root {
    --light:#FFB0AB;
    --primary:#FF988F;
    --secondary: #8fffc1;
    --dark: #004F4E;
    --tertiary: #b32519;
    
}

header {
    width: 100%;
    height: 6.25rem;
    font-family: 'Amiri', serif;
    margin-bottom: 2%;
}
header h1 {
    text-align: center;
    padding-top: .7%;
    font-size: 3rem;
    color: var(--dark);
}

.aboutus {
    display: flex;
    flex-wrap: wrap;
    color: var(--dark);
}
.aboutus h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
}
.thefounder{
    width: 35%;
    height: 40%;
    margin-left: 10%;
    margin-right: 5%;
}
img {
    max-width: 400px;
    max-height: 600px;
    border: 5px solid var(--dark);
}

.chairman {
    width: 35%;
    height: 40%;
    margin-left: 5%;
    margin-right: 10%
}

.container {
    display: flex;
    justify-content: center;
    display: flex;
    color: var(--dark);
}

h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
}
.matt-gammon {
    width: 35%;
    height: 60%;
    justify-content: center;
}

.paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;

}